<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
</head>
<body>
    <h1>Chat</h1>

    <form id="form">
        <input type="text" name="message" id="message">
    </form>

    <div id="s-messages"></div>

    <!-- establish websocket connection -->
    <script>
        let url = `ws://${window.location.host}/ws/socket-server/`;
        const chatSocket = new WebSocket(url);

        // listen to message fffrom server
        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log('Data: ', data);

            if (data.type == 'chat') {
                let message = document.getElementById('s-messages');
                message.innerHTML = data.message;
                // message.insertAdjacentElement('beforeend', `<div>
                //                         <p>${data.message}</p>
                //                     </div>`)
            }
        }

        let form = document.getElementById('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            let message = e.target.message.value;
            chatSocket.send(JSON.stringify(
                {
                    'message': message
                }
            ));

            // reset form
            form.reset();

        })

    </script>
</body>
</html>